body{
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#rightbar{
  position: relative;
  z-index: 1;
  width: 30%;
  height: 100vh;
  margin-left: 70%;
}

#rightbar::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .8;
}

.welcomeForm{
  width: 60%;
  margin: 0 auto;
  float: none;
  padding-top: 50%;
}

.formlink{
  text-align: center;
}

.formlink a{
  padding-left: 5px;
  color: #fff;
}

.welcomeForm input{
  background: transparent;
  border-radius: 0;
  color: #fff;
  margin-bottom: 10px;
}

.welcomeForm input:focus{
  border-color: #fff;
  box-shadow: none;
  background: transparent;
  color: #fff;
}

.welcomeForm .btn{
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0;
}
